<div class="jogo-container">

  <ng-container *ngFor="let card of cardPerguntas" >
    <div *ngIf="card.ativo" class="card">

      <div class="pergunta" >
        {{card.pergunta}}
    </div>

    <div
    *ngFor="let alternativa of card.alternativas; let i = index"

    class="alternativas-container"

    >
    <button class="alternativa"
    (click)="verificarResposta(card,alternativa)"
    [ngClass]="getClass(card,alternativa)"
    >
    {{i + 1  }} - {{alternativa}}
  </button>

</div>
<Button class="voltar" routerLink="/inicio">Voltar</Button>
</div>

</ng-container>
<div class="milhao" *ngIf="jogo">
  <p>Você ganhou um milhão!</p>
    <img src="../../assets/imagens/Milhao1.png" alt="">
  </div>

  <div class="milhao" *ngIf="gameOver">
    <p>Você perdeu!</p>
    </div>


<div class="caminho-do-milhao">
  <app-caminho-do-milhao [perguntas]="cardPerguntas"></app-caminho-do-milhao>

</div>


</div>

