.caminho-milhao-container{
  background: linear-gradient(90deg, rgba(73,245,252,1) 0%, rgba(112,217,223,1) 26%, rgba(0,212,255,1) 100%);
  padding: 20px;
  width: 200px;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button{
 background-color: rgb(8, 102, 243);
 padding: 10px;
 border-radius: 10px;
 width: 200px;
 margin-bottom: 10px;
 color:white;
 border: solid 2px white;

}

button.certo{
  background-color: rgb(7, 161, 7);
 padding: 10px;
 border-radius: 10px;
 width: 200px;
 margin-bottom: 10px;
 color:white;
 border: solid 2px white;
}

button.certo:hover{
  background-color: rgb(7, 161, 7);
 padding: 10px;
 border-radius: 10px;
 width: 200px;
 margin-bottom: 10px;
 color:white;
 border: solid 2px white;
}
