olá


<div *ngFor="let itemPergunta of perguntas">

  <div *ngIf="itemPergunta.ativo" class="pergunta-card">

    <div class="pergunta">{{itemPergunta.questao}}</div>


    <div *ngFor="let itemAlternativa of itemPergunta.alternativas; let i = index " class="opcoes">
      <button (click)="verificarResposta(itemPergunta,itemAlternativa)"
        [ngClass]="getCssClassAlternativa(itemPergunta,itemAlternativa)"
        class="opcao">{{i + 1  }}- {{itemAlternativa}}
      </button>
    </div>

  </div>



</div>
