<ng-container *ngFor="let itemPergunta of perguntas">

  <div *ngIf="itemPergunta.ativo" class="pergunta-card">

    <div class="pergunta">{{itemPergunta.questao}}</div>

    <div class="opcoes">
      <!-- <button class="opcao">A - {{pergunta.A}}</button>
      <button class="opcao">B - {{pergunta.B}}</button>
      <button class="opcao">C - {{pergunta.C}}</button>
      <button class="opcao">D - {{pergunta.D}}</button> -->
    </div>

    <div *ngFor="let itemAlternativa of itemPergunta.alternativas; let i = index " class="opcoes">
      <button (click)="verificarResposta(itemPergunta,itemAlternativa)"
        [ngClass]="getCssClassAlternativa(itemPergunta,itemAlternativa)"
        class="opcao">{{i + 1  }}- {{itemAlternativa}}
      </button>
    </div>

  </div>

</ng-container>
